<%- include('partials/header') -%>

    <link rel="stylesheet" href="/css/newproject.css">

    <div class="create-new-page-container">
        <h1 class="page-header-text">New Character</h1>

        <div class="project-form-container">
            <form id="project-form" action="<%= postReqPath %>" method="POST">
                <label for="characterName">Character Name</label><br>
                <input class="text-input" type="text" id="characterName" name="characterName"
                    value="<%= characterData.name %>" required><br><br>
                <label for="characterDescription">Character Description</label><br>
                <textarea class="text-input" id="characterDescription" name="characterDescription" rows="4"
                    required><%- characterData.description %></textarea><br>
                <div id="error-message" class="error-message"></div><br>
                <button type="submit" id="save-button" disabled>Save</button>
            </form>
        </div>
    </div>
    <script>
        const characterDescription = document.getElementById('characterDescription');
        const characterName = document.getElementById('characterName');
        const saveButton = document.getElementById('save-button');

        let characterData = <%- JSON.stringify(characterData) %>;
        //console.log(characterData); // Debugging line to check characterData
        decodedDescription = decodeHTMLEntities(characterData.description); // Decode HTML entities
        decodedName = decodeHTMLEntities(characterData.name); // Decode HTML entities
        characterDescription.value = decodedDescription; // Use decoded value
        characterName.value = decodedName; // Use decoded value

        
        // If no changes are made, disable the button, if changes are made, enable the button
        function toggleSaveButton() {
            saveButton.disabled = characterDescription.value === decodedDescription && characterName.value === decodedName;
        }
        // characterDescription.addEventListener('input', toggleSaveButton);
        characterName.addEventListener('input', toggleSaveButton);

        characterDescription.addEventListener('input', function () {
            toggleSaveButton(); // Call the function to check if the button should be enabled or disabled
            const maxLength = 500; // Set your desired maximum length here
            if (characterDescription.value.length > maxLength) {
                characterDescription.value = characterDescription.value.substring(0, maxLength);
                document.getElementById('error-message').innerText = 'Character description cannot exceed ' + maxLength + ' characters.';
            } else {
                document.getElementById('error-message').innerText = '';
            }
        });

        function decodeHTMLEntities(str) {
            const txt = document.createElement('textarea');
            txt.innerHTML = str;
            return txt.value;
        }

    </script>
    <%- include('partials/footer') -%>